.aoccssio-generate {
	span.not_generated {
		font-style: italic;
		color: #b1b1b1 !important;
		display: none;
	}

	span.is_generated {
		display: block;
	}

	.aoccssio-generate__delete {
		display: inline-block;
	}
}

.aoccssio-generate--nofile {
	span.not_generated {
		display: block;
	}

	span.is_generated {
		display: none;
	}

	.aoccssio-generate__delete {
		display: none;
	}
}

input[type=text].aoccssio-generate__input,
.aoccssio-generate__input {
	width: 90%;
	@include transition();

	&.-pop {
		transform: scale(1.05);
	}

	&.-error {
		border-color: #a00;
	}
}

.aoccssio-generate__controls {
	text-align: right;
}

.aoccssio-generate__delete {
	background-color: transparent;
	border: none;
	outline: none;
	margin-top: 5px;
	font-size: smaller;
	color: #a00;
	cursor: pointer;
	opacity: .5;

	&:hover {
		color: #dc3232;
		opacity: 1;
	}
}

body.post-php {
	.aoccssio-generate {
		padding: 5px 0;

		&:after {
			content: '';
			clear: both;
			display: block;
		}
	}

	.aoccssio-generate__controls {
		float: right;
	}

	.aoccssio-generate__generated {
		float: left;

		.generated_title {
			display: block;
			margin-bottom: 7px;
			font-weight: bold;
		}
	}
}

body.term-php,
body.profile-php,
body.user-edit-php {
	.aoccssio-generate__controls {
		margin-top: 15px;
		text-align: left;
	}
}
