.aoccssio-generate {
	& + .aoccssio-generate {
		border-top: 1px solid #d3d3d3;
		margin-top: 20px;
		padding-top: 20px;
	}

	&__content {
		display: flex;
		align-items: center;
	}

	&__title {
		margin-top: 0;
		font-size: small;
	}

	&__input {
		width: 40%;
		margin-right: 20px;
		max-width: none !important;
		transition: all 200ms;

		&--error-pop {
			transform: scale(1.05);
			border-color: #a00 !important;
			background-color: rgba(168, 20, 0, 0.05) !important;
		}
	}

	&__controls {
		margin-left: auto;
		display: flex;
		flex-direction: row-reverse;
	}

	&__delete {
		background-color: transparent;
		border: none;
		outline: none;
		margin-left: 10px;
		color: #a00;
		cursor: pointer;
		opacity: .5;

		&:hover {
			color: #dc3232;
			opacity: 1;
		}
	}
}

/* MetaBox */
#aoccssio-meta-box .aoccssio-generate {

	&__input {
		display: none;
	}

	&__content {
		display: block;
	}

	&__status {
		display: block;
		margin-bottom: 20px;
	}

	&__controls {
		align-items: center;
		justify-content: space-between;
	}

	&__delete {
		margin-left: 0;
		padding-left: 0;
	}
}

/* Tax/Author */
.aoccssio-generate-author, .aoccssio-generate-tax {
	.aoccssio-generate {
		&__input {
			display: none;
		}

		&__content {
			max-width: 30rem;
		}
	}
}
