.aoccssio-intro, .aoccssio-settings, .aoccssio-key {
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #ccc;
	padding: 15px;
	margin: 15px 10px 10px 0;
	min-height: 15px;
	width: 100%;
}

.aoccssio-key {
	input#critcalcssio_apikey, input#critcalcssio_apibase {
		width: 100%;
	}

	th {
		padding-right: 20px;
	}

	th, td {
		vertical-align: top;
		text-align: left;
	}
}

.aoccssio-warning {
	background: #fff;
	border: 1px solid #ccd0d4;
	border-left: 4px solid #dc3232;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	margin-top: 15px;
	padding: 1px 12px;
}
